@model IEnumerable<string>
@inject ICitiesService citiesServiceInView

@{
    ViewBag.Title = "Home";
}

<h1>Cities</h1>
@{
   List<string> citiesFromServiceView = citiesServiceInView.GetCities();
}
<ul class="list">
    @foreach (string city in citiesFromServiceView)
{
    <li>@city</li>
}
</ul>

<div>@ViewBag.InstanceId_CitiesService_1</div>
<div>@ViewBag.InstanceId_CitiesService_2</div>
<div>@ViewBag.InstanceId_CitiesService_3</div>
<div>@citiesServiceInView.ServiceInstanceId</div>


<div class="box">
    @ViewBag.InstanceId_CitiesService_InScope
</div>

